  #container {
    width: 90%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }



h1 {
  text-align: center;
  color: #fff;
}

  .header {
    padding: 10px 0;
    background-color: #a6ed8e;
    float: left;
    display: block;
    margin: 20px;
    height: 350px;
    width: 350px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  }
   .head {
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    color: #ffffff;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
  }
   .days {
    display: block;
    width: 100%;
    overflow: auto;
    padding: 10px 0;
    text-align: center;
    
  }
   .days .h-day {
    width: 14.28571%;
    color: #ffffff;
    float: left;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

   .days .day {
    width: 14.28571%;
    display: block;
    float: left;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color: #393E46;
    background-color: #fefefe;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
  }
  
  .days .day .this-month-day:hover{
    background-color: #e1e1e1;
    cursor: pointer;
    color: #ffffff;
 }
  
 .days .day.work {    
    border-bottom: 3px solid #ffdd83;
    /*color: #0000ff;*/
 }
 
 .days .day.night {    
    border-bottom: 3px solid #222831;
    /*color: #ff0000;*/
}

 .days .day.free {    
    border-bottom: 3px solid #28cc9e;
    /*color: #F96D00;*/
}

body {
    background-color: #393E46;
    margin: 0;
    padding: 0;
  }
